<div class="ng-container">
  <h1>Admin</h1>
  <mat-grid-list cols="2">
    <mat-grid-tile>
      <button class="btn1" (click)="openAddUserDialog()">
        <mat-icon>account_circle</mat-icon> Add User</button
      ><br />
      <button class="btn1" (click)="openAddProjectDialog()">
        <mat-icon>library_add</mat-icon> Add Project
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <h3>Overview</h3>
      <br />
      <ul>
        <li>
          <button mat-button color="primary" type="submit" (click)="displayUsersTable()">Users</button>
        </li>

        <li>
          <button mat-button color="primary" type="submit" (click)="displayProjectsTable()">Projects</button>
        </li>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</div>
